# SPDX-License-Identifier: GPL-2.0-only
#
# XRT Alveo FPGA device configuration
#

config FPGA_XRT_LIB
	tristate "XRT Alveo Driver Library"
	depends on HWMON && PCI && HAS_IOMEM
	select FPGA_XRT_METADATA
	select REGMAP_MMIO
	help
	  Select this option to enable Xilinx XRT Alveo driver library. This
	  library is core infrastructure of XRT Alveo FPGA drivers which
	  provides functions for working with device nodes, iteration and
	  lookup of platform devices, common interfaces for platform devices,
	  plumbing of function call and ioctls between platform devices and
	  parent partitions.
