# SPDX-License-Identifier: GPL-2.0-only
#
# XRT Alveo FPGA device configuration
#

config FPGA_XRT_METADATA
	bool "XRT Alveo Driver Metadata Parser"
	select LIBFDT
	help
	  This option provides helper functions to parse Xilinx Alveo FPGA
	  firmware metadata. The metadata is in device tree format and the
	  XRT driver uses it to discover the HW subsystems behind PCIe BAR.
