# SPDX-License-Identifier: GPL-2.0-only
#
# Xilinx XRT FPGA device configuration
#

config FPGA_XRT_XMGMT
	tristate "Xilinx Alveo Management Driver"
	depends on FPGA_XRT_LIB
	select FPGA_XRT_METADATA
	select FPGA_BRIDGE
	select FPGA_REGION
	help
	  Select this option to enable XRT PCIe driver for Xilinx Alveo FPGA.
	  This driver provides interfaces for userspace application to access
	  Alveo FPGA device.
