# SPDX-License-Identifier: GPL-2.0-only
#
# Xilinx Alveo FPGA device configuration
#

source "drivers/fpga/xrt/metadata/Kconfig"
source "drivers/fpga/xrt/lib/Kconfig"
source "drivers/fpga/xrt/mgmt/Kconfig"
